*{
    background-color: black;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif
}
div{
    display: block;
}
body{
    margin: 0;
}
#banner{
    color: white;
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    padding: 20px;
    margin-right: 20px;
    z-index: 999;
}
#title{
    margin-left: 20px;
}
#login{
    margin-right: 20px;
}
#introduce{
    color: white;
    text-align: center;
    top: 60px;
    position: relative
}
#main-img{

}
#introduce-title{
    background-color: transparent;
    position: absolute;
    font-size: 35px;
    font-weight: 600;
    top:20%;
    left:50%;
    transform: translate( -50%, -50% );
    white-space : nowrap;
}
#introduce-text{
    background-color: transparent;
    width: 80%;
    text-align: center;
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate( -50%, -50% );
    font-size: 24px;
    font-weight: 600;
}
#curriculum{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 220px;
    text-align: center;
    font-weight: 220px;
}
#curri-title{
    font-size: 40px;
}
#curri-text{
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
}
@media (min-width: 1200px){
    #banner{
    width: 100%;
    padding: 0px 340px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 90px !important;
    }
}
@media (max-width:1000px){
    #main-img{
        width:1000px;   /*메인 이미지가 1000px 이하에서는 오른쪽이 잘려보이게 ( 이상에서는 화면 크기에 맞춰짐) */
    }   
}
@media (min-width: 768px) and (max-width: 1024px){  
    #introduce-title{
        font-size: 40px;
        line-height: 48px;
    }
    #introduce-text{
    width: 595px;
    height: 110px;
    font-size: 16px;
    line-height: 22px;
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    #banner{
    float: none;
    padding: 0px 40px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }
}
@media (max-width:768px){
    #introduce-title{
        font-size: 28px;
        line-height: 34px;
    }
    #introduce-text{    /*768px 이하에서 텍스트 박스 크기 고정*/
        width: 348px;
        height: 168px;
        font-size: 15px;
        line-height: 24px;
    }
    #curri-title{
        font-size: 28px;
        line-height: 34px;
    }
    #curri-text{
        font-size: 16px;
        line-height: 19px;
    }
    #apply{
        display: none;
    }
    #community{
        display: none;
    }
}